@charset "UTF-8";
/* CSS Document */
nav a{; width:90%; padding-right:8%;}
nav li{float:left; display: inline;}
aside {float: right; width:50%}
img {width:90%; margin:5%; display:block}
div {width:100%;}
div li{float:left; display: inline}
li {font:15px 'Helvetica', sans-serif}

p{font-family:'Georgia', serif;}
h1{font:60px 'helvitca-Bold',sans-serif;}
h1{color:#FF5611;}
body{background-color:rgb(28,28,28);}
p{font:16px 'Georgia', serif;}
p{color:#313131;}
ul{font:20px 'Cabin','sans-serif'; padding:0;}
ul{color:orange;}
li {width:33%;}

article {clear:left;}
div {clear:left;}

body{Background:url(http://hqwide.com/wallpapers/l/1440x900/61/typography_1440x900_60062.jpg);float: right;}

.content {width:50%; margin-left: 25%; margin-right:25%;}
.header {width:50%; margin-left: 25%; margins-right:25%;}
.nav {width:50%; margin-left: 25%; margins-right:25%;}
.footer {width:50%; margin-left: 25%; margins-right:25%;}