@charset "UTF-8";
/* CSS Document */
header {width:50%; margin-left: 25%; margins-right:25%;}

h2{font:30px 'helvetica','sans-serif'; padding:10px;}
h3{font:25px 'helvetica','sans-serif'; padding:10px;}
h4{font:18px 'helvetica','sans-serif'; padding:10px;}
h2{background-color:#FA8312; color: white; width:600%;padding:5px;}
h3{color:#8DD4FF;}
h4{color:#8DD4FF;}
h1{font:70px 'helvetica-condensed',sans-serif;}
h1{color: white; width:600%; padding:10px;}
h1{font-family:'Helvetica', san-serif;}

div {clear:left;}
div {width:100%;}
div li{float:left; display: inline}

li {width:33%;}
li {font:15px 'helvetica', sans-serif}

d1{font:16px 'helvetica','sans-serif'; padding:0;}
dd{font:12px 'helvetica','sans-serif'; padding:0;}
dl{color:#D4D4D4;}

nav a{; width:90%; padding-right:8%;}
nav li{float:left; display: inline; margin-bottom:10px;}
.nav {width:50%; margin-left: 25%; margins-right:25%;}


article {clear:left;}

body{max width:auto;}
body{background:float: right;}
body{background-color:#717171;}

.content {width:50%; margin-left: 25%; margin-right:25%;}

p{font-family:'helvetica', serif;}
p{font:12px 'helvetica', serif;}
p{color: #D4D4D4;}

blockquote{font:12px 'helvetica','sans-serif'; padding:15;}
blockquote{color:#D4D4D4; background-color:#3F3F3F; padding:15px;}

footer{float:right; width:63%}
.footer {width:50%; margin-left: 25%; margins-right:25%;}

aside {float: right; width:50%}

img {width:90%; margin:5%; display:block}

a:link{
	text-decoration: none;
	color: #F77A03;
}
a:visited{
	text-decoration: none;
	color: #F77A03;
}
a:hover{
}
a:active{
}